<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :team_guide %><br>
    <%= f.text_field :team_guide %>
  </div>
  <div class="field">
    <%= f.label :nickname %><br>
    <%= f.text_field :nickname %>
  </div>
  <div class="field">
    <%= f.label :market %><br>
    <%= f.text_field :market %>
  </div>
  <div class="field">
    <%= f.label :team_details %><br>
    <%= f.text_field :team_details %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
