<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @combine.name %>
</p>

<p>
  <strong>College:</strong>
  <%= @combine.college %>
</p>

<p>
  <strong>Position:</strong>
  <%= @combine.position %>
</p>

<p>
  <strong> 40 yd dash:</strong>
  <%= @combine._40_yd_dash %>
</p>

<p>
  <strong>Bench press:</strong>
  <%= @combine.bench_press %>
</p>

<p>
  <strong>Vertical jump:</strong>
  <%= @combine.vertical_jump %>
</p>

<%= link_to 'Edit', edit_combine_path(@combine) %> |
<%= link_to 'Back', combines_path %>
