<h1>Listing players</h1>

<table>
  <thead>
    <tr>
      <th>Player guide</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Full name</th>
      <th>Abbr name</th>
      <th>Player details</th>
      <th>Team</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.player_guide %></td>
        <td><%= player.first_name %></td>
        <td><%= player.last_name %></td>
        <td><%= player.full_name %></td>
        <td><%= player.abbr_name %></td>
        <td><%= player.player_details %></td>
        <td><%= player.team_id %></td>
        <td><%= link_to 'Show', player %></td>
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
        <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player', new_player_path %>
